::-webkit-scrollbar {
  width: 12px;
  background-color: #285c9c;
}

::-webkit-scrollbar-thumb {
  background: #052b59;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
